# Regression Assignment

For this assignment you will find your own dataset, make a regression model, and create one visualization. There are many great sources for data  you can use. There is the example_datasets, the sklearn datasets, or just any CSV on the internet! Just be sure that there are continuous variables so you can use regression to predict. Once your model is done make some sort of visualization, like a plot of the data and regression line.

#Day 10: Regression Assignment

In [1]:
import pandas as pd
from IPython.display import Image
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import cm
import warnings
warnings.simplefilter("ignore")
%matplotlib inline

matplotlib.rcParams['figure.figsize'] = [12, 12]

In [2]:
alcohol = pd.read_csv("../data/drinks.csv")

In [3]:
alcohol.head(2)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9

In [4]:
alcohol.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [5]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

#Assign the dependent and the independent vars
indep_vars = ['beer_servings','spirit_servings','wine_servings']

In [6]:
model.fit(X=alcohol[indep_vars], y=alcohol['total_litres_of_pure_alcohol'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [8]:
total_true = alcohol["total_litres_of_pure_alcohol"]


alc_pred = model.predict(alcohol[indep_vars])

alcohol["alc_pred"] = model.predict(alcohol[indep_vars])

alcohol.head(4)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,alc_pred
0,Afghanistan,0,0,0,0.0,0.722450
1,Albania,89,132,54,4.9,5.269366
2,Algeria,25,0,14,0.7,1.404096
3,Andorra,245,138,312,12.4,12.347320

Intriguing results: Even though, Afghanistan, doesn't consume any alcohol, the predicted consumption amount is greater than 0.

In [9]:
alcohol[["total_litres_of_pure_alcohol", "alc_pred"]].head(10)

   total_litres_of_pure_alcohol   alc_pred
0                           0.0   0.722450
1                           4.9   5.269366
2                           0.7   1.404096
3                          12.4  12.347320
4                           5.9   6.301232
5                           4.9   5.301024
6                           8.3   8.181023
7                           3.8   4.067775
8                          10.4  10.012806
9                           9.7  10.052823